*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

header{
  background-color: #0c325a;
  height: 500px;
  color: white;
}

a{
  text-decoration: none;
  color: white
}

.sect{
  background-color: #d3d3d3;
}

.text{
  color: #808080;
}

.upper{
  width: 80%;
  height: calc(100%/5);
  margin: auto;
  text-transform: uppercase;
}

.logo-nav{
  padding-top: 20px;
  display: inline-block;
  width: 60%
}

.logo-nav img{
  margin-right: 40px;
}
.nav{
  display: inline-block;
  text-decoration: none;
  vertical-align: 50%;
}

.nav li{
  display: inline-block;
}

.login{
  vertical-align: 50%;
  display: inline-block;

}
.login, p, .button{
  display: inline-block;
}

.button{
  border-radius: 5px;
  border: 1px solid white;
}

.login .button{
  padding: 10px;
  margin: 0 10px;
}

.button:hover{
  background-color: #7cbb05;
  border: none;
}

.hero{
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.hero-dim{
  width: 80%;
  height: 400px;
  margin: auto;
  position:relative;
}

.title{
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.title h1{
  font-size: 50px;
  margin-bottom: 20px;
}

.important{
  padding: 20px;
  background-color: #7cbb05;
}

.scuole-trad{
  text-align: center;
  padding: 40px 0;
  line-height: 40px;
}
