*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

header{
  background-color: #0c325a;
  height: 500px;
  color: white;
}

.upper a{
  text-decoration: none;
  color: white
}

.sect{
  background-color: #d3d3d3;
}

.text{
  color: #808080;
}

.upper{
  width: 80%;
  height: calc(100%/5);
  margin: auto;
  text-transform: uppercase;
}

.logo-nav{
  padding-top: 20px;
  display: inline-block;
  width: 60%
}

.logo-nav img{
  margin-right: 40px;
}
.nav{
  display: inline-block;
  text-decoration: none;
  vertical-align: 50%;
}

.nav li{
  display: inline-block;
}

.login{
  vertical-align: 50%;
  display: inline-block;

}
.login, p, .button{
  display: inline-block;
}

.button{
  color: white;
  border-radius: 5px;
  border: 1px solid white;
}

.login .button{
  padding: 10px;
  margin: 0 10px;
}

.button:hover{
  background-color: #7cbb05;
  border: none;
}

.hero{
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.hero-dim{
  width: 80%;
  height: 400px;
  margin: auto;
  position:relative;
}

.title{
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.title h1{
  font-size: 50px;
  margin-bottom: 20px;
}

.important{
  padding: 20px;
  background-color: #7cbb05;
}

.scuole-trad{
  text-align: center;
  padding: 40px 0;
  line-height: 40px;
}

.scuole-trad h3{
  font-size: 30px;
}

.row{
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;;
}

.col{
  float: left;
  width: calc(100% / 3);
  text-align: center;
  padding: 0 15px;
}

.img-container img{
  max-width: 100%;
  max-height: 100%;
}

.img-container{
  height: 240px;
  margin: auto;
}

.row hr{
  margin: auto;
  width: 20%;
}

.row h3{
  color: #7cbb05;
  font-size: 28px;
  margin: 15px 0;
}

.row p{
  margin: 15px 0;
}

.row::after{
  content: "";
  display: block;
  clear: both;
}
.service{
    border-bottom: 1px solid black;
}

.livello-iniziale{
  width: 80%;
  margin: auto;
  margin-top: 50px;;
  padding-bottom: 40px;
}

.livello-iniziale::after{
  content: "";
  display: block;
  clear: both;
}

.img-livello{
  float: left;
  width: calc(100% / 2);
  height: 600px;
}

.img-livello img{
  max-width: 100%;
  max-height: 100%;
}

.text-livello{
  width: 38%;
  float:left;
}

.text-livello > h3,p{
  margin-bottom: 15px;
}

.text-livello h3{
  font-size: 50px;
}

.piano-dim{
  width:80%;
  margin: auto;
}

.piano-sect{
  width: 49%;
  display: inline-block;
}

.piano-sect h3{
  margin: 80px 0;
  font-size: 50px;
}

.piano-sect span{
  margin-left: 20px;
}
.piano-sect a{
  margin-left: 20px;
}

.selezione{
  border-bottom: 1px solid black;
}

button{
  background-color: #7cbb05;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 32%;
}
